{% extends 'base.html' %}

{% block head %}
	<title>{{ name }}</title>
	<style>
		body {
			background-color: #add8e6;
			width: 100%;
		}
		img {
			max-width: 100%;
		}
		.center {
			text-align: center;
		}
		.tmid { /* Center block-level elements */
			margin: 0px auto;
		}
		.card {
			color: #fff;
			background-color: #000;
			box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
			width: 500px;
			padding: 20px;
		}
		.hide {
			display: none;
		}
	</style>
{% endblock %}
{% block body %}
	<a href="/gallery" id="backlink">&lt; back</a>
	<div class="tmid card">
		<h1 class="center">{{ name }}</h1>
		<img src="{{ image }}">
		<p>{{ description }}</p>
		<hr>
		<p>Cost: {{ cost }}</p>
		<p>Type: {{ cardtype }}</p>
	</div>
	<script>
		// hide back link if url has ?hideback appended
		const urlParams = new URLSearchParams(window.location.search);
		const myParam = urlParams.get('hideback');
		if (myParam) {
			document.getElementById('backlink').classList.toggle('hide');
		}
	</script>
{% endblock %}
