<!DOCTYPE html>
<html>
	<head>
		<title>deckbuilder</title>
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	</head>
<body style="background-color:#ADD8E6;text-align:center">
	<!-- Navbar -->
	<form method="POST">
		<button type="submit" name="Home" value="Home">Home</button>
	</form>

	<form method="POST">
		<div align="right">
			<h2>Available Decks:</h2>
			{{ decks }}
			<h2>New Deck</h2>
	    	<input type="text" name="deckName">
	    	<button type="submit" class="btn btn-default">Create</button>
			<h2>Select Deck</h2>
			<select id="selectDeck" name="selectDeck" class="selectpicker form-control">
				{% for item in decks %}
				<option value="{{ item }}">{{ item }}</option>
				{% endfor %}
			</select>

      		<script>
				var lastVal = $('#selectDeck option:last-child').val();
				$('#selectDeck').val(lastVal);
			</script>

			<button type="submit" class="btn btn-default">Select</button>

			<h2>Add Cards</h2>
	    	<input type="text" name="cardID">
	    	<button type="submit" class="btn btn-default">Add</button>
		</div>
	</form>

	<form method="POST">
		<div align="right">
			<h2>Delete Deck</h2>
			<select id="deleteDeck" name="deleteDeck" class="selectpicker form-control">
				{% for item in decks %}
				<option value="{{ item }}">{{ item }}</option>
				{% endfor %}
			</select>
			<button type="submit" class="btn btn-default">Delete</button>
		</div>
	</form>

  <script>
    var lastVal = $('#deleteDeck option:last-child').val();
    $('#deleteDeck').val(lastVal);
  </script>

	<!-- To display all cards on left of screen and current deck on right -->
	<div class="container">
		<div style="width: 50%; height: 100px; float: left">
			<h1>All Cards:</h1>
			{{ cardList|safe }}
		</div>
		<div style="margin-left: 50%; height: 100px">
			<h1>Current Deck: {{ deckName }}</h1>
			{{ activeDeck|safe }}
		</div>
	</div>
</body>
</html>