<!DOCTYPE html>
<html>
	<head>
	<title>Home</title>
	<style type="text/css">
		body{
			background-image: url("{{ url_for('static', filename='images/Background.jpg') }}");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}
		h2 {font-size: 40px;}
	</style>
	</head>
<body>
	<h2 align="center">StatTracker Prototype</h2>
	<form method="POST" align="center">
		<button type="submit" name="Deck_Builder" value="Deck_Builder">Deck Builder</button>
	</form>
	<form method="POST" align="center">
		<button type="submit" name="Card_Gallery" value="Card_Gallery">Card Gallery</button>
	</form>
	
</body>
</html>